*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}


.container {
    font-family: cursive;
}

.side-bar{
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 20px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 150px 100px;

}

.main-ava {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-bar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar-nav > a {
    padding: 20px 0;
}

.content {
    margin-left: 400px;
    background-color: #1c1e21;
    height: 100%;
}

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
    min-height: 100vh;

}

.resume-section-content {
    width: 100%;
}


.title {
    font-size: 4rem;
    padding: 40px 0;
    text-transform: uppercase;
}

.mob-0 {
    padding: 20px 0;
    text-transform: uppercase;
}

.introduce {
    padding: 20px 0;
}

.social-media {
    padding-top: 20px;
}

.social-media > a {
    font-size: 40px;
    padding-right: 16px;
}

.education-level {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.sub-heading-mob-0 {
    text-transform: uppercase;
    padding: 12px 0 28px 0;
}

.timeline {
    padding-top: 24px;
}

.second-p {
    padding-top: 20px;
}

.goals-list{
    list-style: none;
    padding-left: 20px;
}

li {
    padding-top: 8px;
}
